<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.dao.IOrderDao">

	<resultMap type="com.order.model.OrderForm" id="BaseResultMap">
		<id column="number" property="number" />
		<result column="user_Id" property="userId" />
		<result column="amount" property="amount" />
		<result column="create_Time" property="createTime" />
		<result column="update_Time" property="updateTime" />
		<result column="is_Del" property="isDel" />
		<result column="status" property="status" />
	</resultMap>




</mapper>
