<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.dao.IOrderDetailDao">

	<resultMap type="com.order.model.OrderDetail" id="BaseResultMap">
		<id column="id" property="id" />
		<result column="order_Number" property="orderNumber" />
		<result column="goods_Id" property="goodsId" />
		<result column="create_Time" property="createTime" />
		<result column="update_Time" property="updateTime" />
		<result column="is_Del" property="isDel" />
	</resultMap>




</mapper>
